// Reset
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

// Set font to 10 for REM converstions 1rem = 10px
html {
  font-size: 62.5%;
}

//Utilities
body {
  box-sizing: border-box;
}
